.button {
  padding: 5px 10px;
  outline: none;
  border: none;
  background: #530000;
  font-size: 14px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.disabled {
  opacity: .8;
  cursor: not-allowed;
}
